<!DOCTYPE html>
<html ng-app="<%= _.camelize(appname) %>">
<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
  <link href="app.less" type="text/css" rel="stylesheet/less">
</head>
<body>

  <!-- Livereload script for development only (stripped during dist build) -->
  <script src="http://localhost:35729/livereload.js" data-concat="false"></script>

  <!-- JS from Bower Components -->
  <script data-src="bower_components/less.js/dist/less-1.6.2.js" src="../bower_components/less.js/dist/less-1.6.2.js" data-concat="false"></script>
  <script data-src="bower_components/jquery/jquery.js" src="../bower_components/jquery/jquery.js"></script>
  <script data-src="bower_components/bootstrap/dist/js/bootstrap.js" src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script data-src="bower_components/underscore/underscore.js" src="../bower_components/underscore/underscore.js"></script>
  <script data-src="bower_components/moment/moment.js" src="../bower_components/moment/moment.js"></script>
  <script data-src="bower_components/angular/angular.js" src="../bower_components/angular/angular.js"></script>
  <script data-src="<%= routerJs %>" src="../<%= routerJs %>"></script>
  <script data-src="bower_components/angular-animate/angular-animate.js" src="../bower_components/angular-animate/angular-animate.js"></script>
  <script data-src="bower_components/angular-resource/angular-resource.js" src="../bower_components/angular-resource/angular-resource.js"></script>
  <script data-src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js" src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script data-src="bower_components/angular-ui-utils/ui-utils.js" src="../bower_components/angular-ui-utils/ui-utils.js"></script>

  <!-- Add New Bower Component JS Above -->


  <!-- Main App JS -->
  <script data-src="app/app.js" src="app.js"></script>
  <script data-src="app/res/commonServices/commonServices.js" src="res/commonServices/commonServices.js"></script>
  <script data-src="app/res/commonFilters/commonFilters.js" src="res/commonFilters/commonFilters.js"></script>
  <script data-src="app/res/commonDirectives/commonDirectives.js" src="res/commonDirectives/commonDirectives.js"></script>
  <!-- Add New Component JS Above -->

  <div>
    <div id="content" class="container">
      <div class="row">
         <div ng-include="'res/commonTemplates/sampleTemplate.html'"></div>
      </div>
    </div>
  </div>

</body>
</html>
